.button{
    border:none;
    background-color: black;
    color:white;
    border-radius: 5px; 
    cursor:pointer;
    padding:5px 10px;
    white-space: none;
    height: 30px;
    line-height: 15px;
}

/* 일기 추가, 수정 삭제 버튼*/
.btn{   

    background-color: whitesmoke;
    margin:5px;
}

.button_green{
    background-color : rgb(100, 166, 1);
    color:white;
}

.button_red{
    background-color: red;
    color: white;
}

.button_grey{
    background-color: grey;
    color:white;
    
    white-space: nowrap;
    
}
