.Header{
    display:flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid lightgrey;
    
}

.header_title{
    width:50%;
    font-size: 20px;
    
}

.header_left, .header_right{
    width:25%;
    
}